//start div try-not-to-become
.try-not-to-become {
    position: relative;
    height: 190px;
    max-height: 200px;
    margin-top: 85px;
    background: center / cover no-repeat url("../img/slider.jpg");
    background-attachment: fixed;
    z-index: 1;
    @media screen and (max-width: 430.9px) {
        margin-top: 70px;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #062152c2;
        z-index: 9999;
        .try-not-to-become-content {
            font-size: 26px;
            font-weight: 600;
            line-height: 1.4;
            color: $gray-color;
            letter-spacing: $letter-spacing;
            text-align: center;
            @media screen and (max-width: 456.7px) {
                font-size: 18px;
            }
            .color-orange {
                color: $secound-color
            }
        }
    }
}

// start section about-us-info
.about-us-info {
    background-color: $gray-color;
    padding: 20px 0;
    .about-us-info-card {
        border-radius: 20px;
        @media screen and (max-width: 991.9px) {
            margin: 50px 0;
        }
        .about-us-img {
            margin-top: -60px;
            border: 5px solid $gray-color;
            border-radius: 13px;
        }
    }
    .about-us-info-heading {
        color: $primary-color;
        letter-spacing: $letter-spacing;
    }
    .about-us-info-desc {
        color: $primary-color;
        letter-spacing: $letter-spacing;
        line-height: 1.7;
        min-height: 170px;
    }
    .btn-read-more {
        position: relative;
        padding: 6px 20px;
        margin-bottom: -50px;
        font-weight: $font-bold;
        background-color: $secound-color;
        color: #FFF;
        border-radius: 7px;
        z-index: 99999;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
            top: 0;
            right: 0;
            left: 0;
            border-radius: 7px;
            background-color: $hover-color;
            @include transition(.3s);
            z-index: -9999;
        }
        &:hover::before {
            height: 100%;
            background-color: $hover-color;
            color: $gray-color
        }
        &:focus {
            box-shadow: none;
        }
    }
    .values-item {
        min-height: 170px;
        .values-option {
            line-height: 1.7;
            @extend .primaryColor-letterSpacing;
        }
    }
}

// start section our-traning
.our-traning {
    .our-traning-heading {
        .our-traning-title {
            color: $primary-color;
            letter-spacing: $letter-spacing;
            .color-orange {
                color: $secound-color;
            }
        }
        .our-traning-desc {
            color: #00445C;
            font-size: 15px;
            font-weight: 500;
            margin: 15px 100px;
            padding: 5px 0;
            letter-spacing: $letter-spacing;
            border: 1px solid $gray-color;
            .color-orange {
                color: $secound-color
            }
            @media screen and (max-width:768.9px) {
                margin: 15px 0
            }
        }
    }
    .project-logo {
        min-width: 128px;
        min-height: 128px;
        @include transition(.6s);
    }
    .project-mange-logo {
        background: center / contain no-repeat url("../img/ProjectManagement1.jpg");
        &:hover {
            background: center / contain no-repeat url("../img/ProjectManagement2.png");
        }
    }
    .business-logo {
        background: center / contain no-repeat url("../img/Business.png");
        &:hover {
            background: center / contain no-repeat url("../img/Business1.jpg");
        }
    }
    .manage-skills-logo {
        background: center / contain no-repeat url("../img/ManagementSkills.jpg");
        &:hover {
            background: center / contain no-repeat url("../img/Management\ Skills2.png");
        }
    }
    .customize-logo {
        background: center / contain no-repeat url("../img/customized.jpg");
        &:hover {
            background: center / contain no-repeat url("../img/customized2.png");
        }
    }
    .project-manage-title {
        @extend .secoundColor-letterSpacing;
        @media screen and (max-width: 375.9px) {
            font-size: 17px;
        }
    }
    .project-manage-desc {
        color: $primary-color;
        letter-spacing: $letter-spacing;
    }
}

// start section map
.map {
    .map-location-img {
        background-color: $primary-color;
        margin: 0 auto -33px;
        width: 80px;
        height: 80px;
        line-height: 70px;
        border-radius: 50%;
        text-align: center;
        border: 6px solid #fff;
        z-index: 1;
        position: relative;
    }
}