.primaryColor-letterSpacing, .training .training-header .training-header-title, .about-us-info .values-item .values-option, .header-container .navbar .brand-title {
  color: #00445C;
  letter-spacing: 0.7px;
}

.secoundColor-letterSpacing, .training .training-contnet .list-cousre-title, .our-traning .project-manage-title {
  color: #F87021;
  letter-spacing: 0.7px;
}

.articale-desc, .training .training-contnet .traing-desc {
  letter-spacing: 0.7px;
  color: #00445C;
  line-height: 1.7;
}

.header-container .navbar {
  position: fixed;
  top: 0;
  max-height: 85px;
  width: 100%;
  background-image: linear-gradient(148deg, #fff 33%, #ff8945 35%, #F87021 36%);
  z-index: 999;
}
@media screen and (max-width: 425.9px) {
  .header-container .navbar {
    max-height: 75px;
  }
}
@media screen and (max-width: 425.9px) {
  .header-container .navbar .nav-logo {
    max-width: 70px;
  }
}
.header-container .navbar .brand-title {
  font-weight: 500;
}
@media screen and (max-width: 425.7px) {
  .header-container .navbar .brand-title {
    font-size: 14px;
  }
}
.header-container .navbar .nav-link {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #EFEFEF;
  border-radius: 30px;
  padding: 7px 15px;
  margin-right: 5px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.header-container .navbar .nav-link:hover {
  color: #EFEFEF;
  background-color: #FF863F;
}
.header-container .navbar .nav-link:focus {
  color: #EFEFEF;
  box-shadow: none;
  outline: 0;
}
@media screen and (max-width: 991.9px) {
  .header-container .navbar .nav-link {
    border-radius: 5px;
    margin: 10px;
    padding: 5px 15px;
    font-size: 15px;
  }
}
.header-container .navbar .navbar-toggler {
  border: 0;
}
.header-container .active-link {
  background-color: #FF863F;
}
.header-container .navbar-collapse {
  position: relative;
  z-index: 111;
}
@media screen and (max-width: 991.8px) {
  .header-container .navbar-collapse {
    background-color: #00445C;
    padding: 5px 10px;
  }
}

.try-not-to-become {
  position: relative;
  height: 190px;
  max-height: 200px;
  margin-top: 85px;
  background: center/cover no-repeat url("../img/slider.jpg");
  background-attachment: fixed;
  z-index: 1;
}
@media screen and (max-width: 430.9px) {
  .try-not-to-become {
    margin-top: 70px;
  }
}
.try-not-to-become .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #062152c2;
  z-index: 9999;
}
.try-not-to-become .overlay .try-not-to-become-content {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.4;
  color: #EFEFEF;
  letter-spacing: 0.7px;
  text-align: center;
}
@media screen and (max-width: 456.7px) {
  .try-not-to-become .overlay .try-not-to-become-content {
    font-size: 18px;
  }
}
.try-not-to-become .overlay .try-not-to-become-content .color-orange {
  color: #F87021;
}

.about-us-info {
  background-color: #EFEFEF;
  padding: 20px 0;
}
.about-us-info .about-us-info-card {
  border-radius: 20px;
}
@media screen and (max-width: 991.9px) {
  .about-us-info .about-us-info-card {
    margin: 50px 0;
  }
}
.about-us-info .about-us-info-card .about-us-img {
  margin-top: -60px;
  border: 5px solid #EFEFEF;
  border-radius: 13px;
}
.about-us-info .about-us-info-heading {
  color: #00445C;
  letter-spacing: 0.7px;
}
.about-us-info .about-us-info-desc {
  color: #00445C;
  letter-spacing: 0.7px;
  line-height: 1.7;
  min-height: 170px;
}
.about-us-info .btn-read-more {
  position: relative;
  padding: 6px 20px;
  margin-bottom: -50px;
  font-weight: 500;
  background-color: #F87021;
  color: #FFF;
  border-radius: 7px;
  z-index: 99999;
}
.about-us-info .btn-read-more::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 7px;
  background-color: #FF863F;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  z-index: -9999;
}
.about-us-info .btn-read-more:hover::before {
  height: 100%;
  background-color: #FF863F;
  color: #EFEFEF;
}
.about-us-info .btn-read-more:focus {
  box-shadow: none;
}
.about-us-info .values-item {
  min-height: 170px;
}
.about-us-info .values-item .values-option {
  line-height: 1.7;
}

.our-traning .our-traning-heading .our-traning-title {
  color: #00445C;
  letter-spacing: 0.7px;
}
.our-traning .our-traning-heading .our-traning-title .color-orange {
  color: #F87021;
}
.our-traning .our-traning-heading .our-traning-desc {
  color: #00445C;
  font-size: 15px;
  font-weight: 500;
  margin: 15px 100px;
  padding: 5px 0;
  letter-spacing: 0.7px;
  border: 1px solid #EFEFEF;
}
.our-traning .our-traning-heading .our-traning-desc .color-orange {
  color: #F87021;
}
@media screen and (max-width: 768.9px) {
  .our-traning .our-traning-heading .our-traning-desc {
    margin: 15px 0;
  }
}
.our-traning .project-logo {
  min-width: 128px;
  min-height: 128px;
  -webkit-transition: 0.6s ease-in;
  -moz-transition: 0.6s ease-in;
  -ms-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}
.our-traning .project-mange-logo {
  background: center/contain no-repeat url("../img/ProjectManagement1.jpg");
}
.our-traning .project-mange-logo:hover {
  background: center/contain no-repeat url("../img/ProjectManagement2.png");
}
.our-traning .business-logo {
  background: center/contain no-repeat url("../img/Business.png");
}
.our-traning .business-logo:hover {
  background: center/contain no-repeat url("../img/Business1.jpg");
}
.our-traning .manage-skills-logo {
  background: center/contain no-repeat url("../img/ManagementSkills.jpg");
}
.our-traning .manage-skills-logo:hover {
  background: center/contain no-repeat url("../img/Management Skills2.png");
}
.our-traning .customize-logo {
  background: center/contain no-repeat url("../img/customized.jpg");
}
.our-traning .customize-logo:hover {
  background: center/contain no-repeat url("../img/customized2.png");
}
@media screen and (max-width: 375.9px) {
  .our-traning .project-manage-title {
    font-size: 17px;
  }
}
.our-traning .project-manage-desc {
  color: #00445C;
  letter-spacing: 0.7px;
}

.map .map-location-img {
  background-color: #00445C;
  margin: 0 auto -33px;
  width: 80px;
  height: 80px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  border: 6px solid #fff;
  z-index: 1;
  position: relative;
}

.header-container {
  margin-bottom: 86px;
}

.services-pro-train {
  height: 150px;
  background: top/cover no-repeat url("../img/slider3b.png");
}
.services-pro-train .traing-logo {
  margin-top: 75px;
}
@media screen and (max-width: 425px) {
  .services-pro-train .traing-logo {
    width: 120px;
    margin-top: 92px;
  }
}
.services-pro-train .breadcrumb {
  padding-top: 40px;
  flex-wrap: nowrap;
}
.services-pro-train .breadcrumb .breadcrumb-item::before {
  color: #EFEFEF;
}
.services-pro-train .breadcrumb .breadcrumb-item .breadcrumb-link {
  color: #EFEFEF;
  letter-spacing: 0.7px;
  font-size: 17px;
}
.services-pro-train .breadcrumb .breadcrumb-item .breadcrumb-link::hover, .services-pro-train .breadcrumb .breadcrumb-item .breadcrumb-link:focus {
  color: #EFEFEF;
}
@media screen and (max-width: 425px) {
  .services-pro-train .breadcrumb .breadcrumb-item .breadcrumb-link {
    font-size: 13px;
  }
}

.prof-training {
  padding: 100px 0;
  background-color: #EFEFEF;
}
.prof-training .prof-training-header-title {
  color: #00445C;
  font-size: 35px;
  font-weight: 700;
}
.prof-training .prof-training-desc .orange-color {
  color: #F87021;
  font-weight: 500;
}

.training .training-header {
  justify-content: space-evenly;
  margin-top: -27.1px;
}
.training .training-header .training-header-title {
  background-color: #EFEFEF;
  padding: 10px 15px;
  border: 4px solid #FFF;
  font-size: 16px;
  max-width: 272px;
  width: 272px;
  text-align: center;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.training .training-header .training-header-title:hover {
  background-color: #FFF;
  border: 4px solid #EFEFEF;
  color: #F87021;
}
.training .training-contnet {
  margin-top: 75px;
}
.training .project-manage-option {
  position: relative;
  padding: 7px 0;
  margin-right: 5px;
  color: #00445C;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.training .project-manage-option:hover {
  color: #F87021;
}
@media screen and (max-width: 425px) {
  .training .project-manage-option {
    font-size: 13px;
  }
}
.training .project-manage-option::before {
  content: "";
  top: 12px;
  left: -10px;
  width: 10px;
  height: 10px;
  position: absolute;
  background: center/cover no-repeat url("../img/right-arrow.png");
}

.footer-container {
  background-color: #00445C;
}
.footer-container .copy-right {
  color: #EFEFEF;
  letter-spacing: 0.7px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .footer-container .copy-right {
    font-size: 15px;
    margin-left: 10px;
  }
}

.space-betwen-sections {
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
